<h1>Diary</h1>
<% @diary.each do |item| %>
<li>
  <a href="/<%= item.id %>">
    <%= item.title %>
  </a>
  <form action="/<%= item.id %>/edit" method="get">
    <input type="submit" value="edit">
  </form>
  <form action="/<%= item.id %>/delete" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
  </form>
</li>
<% end %>

<form action="/new" method="get">
<input type="submit" value="Add">
